<!DOCTYPE html>
<html>
	<head>
		<title>Contentful</title>
		<link rel="stylesheet" href="style.css" />
		<style>
			:root {
				--column-width: 320px;
				--column-spacing: 30px;
				--column-spacing-half: calc(30px / 2);
				--background-color: lightgrey;
			}

			html {
				background: var(--background-color);
			}
		</style>

		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i|Amatic+SC:400,700" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
			integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<%if (htmlWebpackPlugin.options.layout === 'contentful') { %>
		<main>
			<header class="header">
				<nav class="header-nav">
					<ul></ul>
					<ul></ul>
				</nav>
			</header>
			<article class="permalink-page text page-<%= htmlWebpackPlugin.options.sectionTitle %>" id="">
				<div class="permalink-content"></div>
				<div class="permalink-meta permalink-padded-content"></div>
			</article>
		</main>
		<% } %>
		<%if (htmlWebpackPlugin.options.layout === 'photoset') { %>
		<div style="max-width: 400px; margin: 0 auto;">
			<article class="post">
				<div class="photoset" data-layout="321">
					<div><img alt="" src="http://placekitten.com/500/400" /></div>
					<div><img alt="" src="http://placekitten.com/500/380" /></div>
					<div><img alt="" src="http://placekitten.com/500/360" /></div>
					<div><img alt="" src="http://placekitten.com/500/340" /></div>
					<div><img alt="" src="http://placekitten.com/500/320" /></div>
					<div><img alt="" src="http://placekitten.com/500/300" /></div>
				</div>
			</article>
		</div>
		<% } %>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>
