/* General Styles */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
    max-width: 1950px;
    margin: 0 auto;
    min-width: 320px;
    overflow-y: scroll;
}

body.permalink {
    margin: 0 auto;
    max-width: 1290px;
}

body,
p,
button {
    font-family: "Alegreya Sans", Helvetica, sans-serif;
    font-size: 1.6rem;
}

hr {
    background: currentColor;
    border: none;
    height: 1px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
ul,
p,
figure,
hr {
    margin-bottom: 1em;
}

article h1:last-child,
article h2:last-child,
article h3:last-child,
article h4:last-child,
article h5:last-child,
article h6:last-child,
ul:last-child,
p:last-child,
figure:last-child,
hr:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", Helvetica, sans-serif;
}

img {
    height: auto !important;
    max-width: 100%;
    vertical-align: bottom;
    width: 100%;
}

img + img,
article button + button {
    margin-top: 6px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    line-height: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

a,
.hyperlink {
    color: #919191;
    cursor: pointer;
    text-decoration: underline;
}

a.no-underline {
    text-decoration: none;
}

a.active {
    text-decoration: none;
    opacity: .7;
}

li {
    margin: 0 0 .5em 1em;
}

nav ul,
.menu ul {
    list-style: none;
}

nav li,
.menu li {
    margin: 0;
}

blockquote {
    border-left: 2px solid #5e6661;
    margin: 15px 0;
    padding-left: 18px;
}

blockquote:last-child {
    margin-bottom: 0;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/* Branding */
.branding {
    display: block;
    padding: var(--column-spacing-half) var(--column-spacing-half) 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.branding-avatar {
    margin-bottom: var(--column-spacing-half);
    vertical-align: bottom;
}

/* Header */
.header {
    position: relative;
    z-index: 2;
}

.header-nav {
    background: rgba(255,255,255,.9);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 4;
}

.menu {
    display: flex;
    justify-content: center;
    line-height: 48px;
    list-style: none;
    margin: 0 auto;
    max-width: 400px;
    padding: 0;
}

.menu-item {
    align-items: center;
    display: flex;
    flex: 0 1 25%;
    justify-content: center;
    padding: 0 12px;
}

.menu-main {
    flex-direction: row;
}

.menu-secondary {
    align-content: center;
    bottom: 100%;
    flex-wrap: wrap;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: .4s ease all;
}

.menu-secondary::before {
    background: rgba(255,255,255,.9);
    bottom: 48px;
    content: "";
    display: block;
    height: inherit;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1
}

.menu-secondary > * {
    z-index: 2
}

.menu-secondary .menu-item-link {
    padding: 0 0 var(--column-spacing-half);
}

.menu-item-link {
    cursor: pointer;
    display: block;
    flex: 1 1 100%;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.menu-item-icon {
    display: block;
    margin: 4px auto;
}

.menu-item-text {
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin: 4px;
}

/* Content */
.content {
    padding-bottom: 48px;
    position: relative;
    z-index: 1;
}

/* Posts */
.post,
.permalink-content,
.permalink-meta,
.post.answer.wcif,
.post.answer.gif {
    background: white;
    border-radius: 4px;
    margin: 15px;
    overflow: hidden;
    padding: 6px;
    position: relative;
}

.post.answer,
.post.chat,
.post.quote,
.post.text {
    margin-bottom: -15px;
}

.post.answer,
.post.chat,
.post.cutout,
.post.quote,
.post.text,
.answer .permalink-content,
.chat .permalink-content,
.cutout .permalink-content,
.quote .permalink-content,
.text .permalink-content {
    background: transparent;
    padding: 0;
}

.post.answer .post-actions,
.post.chat .post-actions,
.post.quote .post-actions,
.post.text .post-actions,
.post.text.hide,
.post.answer.gif .standard {
    display: none;
}

.post.answer.gif .wcif,
.post.answer.gif .wcif > figure {
    display: block;
}

.post.answer.gif .wcif > figure {
    margin: 0;
}

.post.cutout .post-actions {
    border-radius: 6px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.post:hover .post-actions {
    transform: translateY(-100%);
}

.post.cutout:hover .post-actions {
    transform: translateX(-50%) translateY(-100%);
}

/* Quotes */
.answer blockquote,
.chat blockquote,
.quote blockquote,
.text blockquote {
    background: white;
    border: none;
    border-radius: 20px;
    clear: both;
    margin: 0;
    padding: 20px;
    position: relative;
}

.answer blockquote::after,
.chat blockquote::after,
.quote blockquote::after,
.text blockquote::after {
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid white;
    border-top: 5px solid white;
    content: '';
    position: absolute;
    top: 100%;
    z-index: -1;
}

.answer blockquote + cite,
.chat blockquote + cite,
.quote blockquote + cite,
.text blockquote + cite {
    margin: 15px;
}

.answer blockquote + blockquote,
.chat blockquote + blockquote,
.text blockquote + blockquote {
    margin-top: 22px;
}

.answer .right::after,
.chat .odd::after,
.quote .right::after,
.text blockquote::after {
    right: 26px;
    transform: rotate(11deg) translate(0px, -4px) scale(2);
}

.answer .right + cite,
.chat .odd + cite,
.quote .right + cite,
.text blockquote + cite {
    float: right;
}

.answer .left::after,
.chat .even::after,
.quote .left::after {
    left: 26px;
    transform: rotate(33deg) translate(0px, -4px) scale(2);
}

.answer .left + cite,
.chat .even + cite,
.quote .left + cite,
.answer a.asker {
    float: left;
}

.answer a + a.asker {
    margin: var(--column-spacing-half)
}

cite:empty {
    display: none;
}

/* Ask Page */
.permalink-page[id=''].text .permalink-content {
    background: white;
    padding: 6px;
}

.permalink-page[id=''].text cite {
    display: none;
}

/* WCIF */
.post.answer .wcif,
.post.answer .wcif > *,
.post.answer.wcif .standard,
.post.answer .wcif > a > * {
    display:  none;
}

.post.answer.wcif .wcif,
.post.answer.wcif .wcif :first-child {
    display: block;
}

.post.answer.wcif figure {
    margin-bottom: 0;
}

/* Video */
iframe {
    max-width: 100%;
}

/* Post Actions */
.post-actions {
    background: rgba(255,255,255,.9);
    display: flex;
    left: 0;
    margin: 0 !important;
    max-width: 100%;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 100%;
    transition: .4s all ease;
}

.post-actions .menu-item {
    flex: 0 0 auto;
    margin: 0 6px;
}

.like_button {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.like_button.liked + svg {
    fill: currentColor;
}

/* Grid */
#grid {
    opacity: 0;
    padding: 0 15px;
    transition: opacity .4s ease;
}

#grid.loaded {
    opacity: 1;
}

#grid article {
    min-height: 48px;
    width: calc(100% - 30px * 2);
}

#grid article.reblogs {
    height: 0;
    margin: 0 15px;
    min-height: 0;
    padding: 0;
}

@media (min-width: 586px) {
    #grid {
        padding: 15px;
    }

    #grid article {
        width: calc(((100% - 30px) / 2) - 30px);
    }
}

@media (min-width: 1426px) {
    #grid article {
        width: calc(((100% - 30px) / 3) - 30px);
    }
}

/* Photoset */
.photoset-row {
    align-items: flex-start;
    display: flex;
    font-size: 0;
}

.photoset-row + .photoset-row {
    margin-top: 6px;
}

.photoset-row div {
    flex: 1 1 100%;
}

.photoset-row div + div {
    margin-left: 6px;
}

/* Pagination */
.pagination-wrapper {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding-bottom: var(--column-spacing-half);
}

.pagination-list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto, var(--column-spacing);
}

.pagination-item {
    cursor: pointer;
    display: flex;
    line-height: 48px;
    margin: 0 4px;
    padding: 0 12px;
    text-decoration: none;
}

.pagination-item-active {
    background: white;
    border-radius: 6px;
    line-height: 34px;
    opacity: .5;
}

/* Permalink Page */
.permalink-page {
    padding: 15px;
    justify-content: center;
}

.page-Downloads .permalink-content,
.page-Resources .permalink-content,
.page-Sims .permalink-content,
.permalink-page[id=''] .permalink-meta {
    display: none;
}

.permalink-content {
    margin-bottom: 30px;
    max-width: 600px;
}

.permalink-meta-actions > * {
    display: inline;
    vertical-align: middle;
}

.permalink-meta .like-button-container {
    cursor: pointer;
    margin: 0 4px;
    position: relative;
}

.permalink-meta svg {
    height: 12px;
    width: 12px;
}

.permalink-page figure img,
.permalink-page .photoset:not(:last-child) {
    margin-bottom: 10px;
}

.permalink-padded-content {
    padding: 20px;
}

body.permalink .content {
    margin: 0 auto;
    max-width: calc(600px + var(--column-spacing) + var(--column-spacing));
}

@media (min-width: 800px) {
    .permalink-page {
        align-items: flex-start;
        display: flex;
    }

    .permalink-content {
        flex: 1 1 100%;
    }

    .permalink-meta {
        flex: 0 0 320px;
    }

    body.permalink .content {
        max-width: initial;
    }
}

/* Main */
.contentful-main {
	width: 100%;
}

.item-list {
	padding: 15px;
	text-align: center;
}

.item {
	display: inline-block;
	margin: 15px;
	position: relative;
}

.item a {
	color: #919191;
}

.item:hover > a > h1,
.item:hover > .download {
	opacity: 1;
}

.item-link {
	border: 6px solid white;
	border-radius: 50%;
	display: block;
	height: 260px;
	overflow: hidden;
	position: relative;
	width: 260px;
}

.sim .item-link {
	max-height: 187px;
	max-width: 187px;
}

.item img {
	vertical-align: top;
}

.item h1 {
	align-items: center;
	background: rgba(255, 255, 255, 0.9);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	line-height: 1;
	margin: 0;
	opacity: 0;
	padding: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transition: all 0.4s ease;
}

.item h1:only-child:not(:hover) {
    background: transparent;
    color: white;
}

.item h1:only-child,
.item:hover h1 {
	opacity: 1;
}

.item-actions {
	bottom: 0;
	left: 50%;
	line-height: 44px;
	opacity: 0;
	padding: 0 22px;
	position: absolute;
	transform: translateX(-50%);
	transition: opacity 0.4s ease;
}

.item:hover .item-actions {
	opacity: 1;
}

/* Nav */
.contentful-nav {
	bottom: 48px;
	left: 0;
    position: fixed;
    z-index: 3;
}

.nav-toggle {
	background: rgba(255,255,255,.9);
	border-radius: 12px;
	cursor: pointer;
	display: block;
	flex: 0 0 34px;
	line-height: 20px;
	margin: 0 12px 12px;
    padding: 12px;
    text-decoration: none;
	transition: all 0.2s ease;
	transition-delay: 0.4s;
}

.contentful-nav.active .nav-toggle {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	transition-delay: 0s;
}

.filter-root.filter-list {
	background: rgba(255,255,255,.9);
	border-radius: 12px;
	border-bottom-left-radius: 0;
	bottom: 56px;
	left: 12px;
	margin: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	transition: all 0.4s ease;
	transition-delay: 0s;
}

.contentful-nav.active .filter-root.filter-list {
	max-height: calc(100vh - 48px - 44px);
	transition-delay: 0.1s;
}

.iframe-controls--phone-mobile
	~ main
	.contentful-nav.active .filter-root.filter-list {
	height: calc(100vh - 48px - 44px - 54px);
}

@media (min-width: 1000px) {
    .contentful-nav {
        bottom: 0;
    }

    .contentful-nav.active .filter-root.filter-list {
        max-height: calc(100vh - 44px);
        transition-delay: 0.1s;
    }

    .iframe-controls--phone-mobile
        ~ main
        .contentful-nav.active .filter-root.filter-list {
        height: calc(100vh - 44px - 54px);
    }
}

.filter-list,
.filter-group,
.filter-item {
	list-style: none;
	margin: 0;
}

.filter-group {
	margin-bottom: 15px;
}


.filter-group > a,
.filter-link {
	border-bottom: 1px solid rgba(0, 0, 0, 0.03);
	line-height: 1em;
    padding: 10px;
    white-space: nowrap;
}

.filter-link {
	display: block;
	text-decoration: none;
}

.filter-link:hover {
	color: grey;
}

.filter-link.active {
	color: black;
	font-style: italic;
}

.filter-link .fas {
	margin-right: 10px;
	text-align: center;
	width: 15px;
}

.filter-list.flat {
    display: flex;
    flex-wrap: wrap;
    width: 228px;
}

.filter-list.flat > li {
    flex: 0 0 76px;
}

.filter-list.flat > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-size: 12px;
    text-align: center;
}

.filter-list.flat > li > a span {
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
}

/* Other */
.error-message {
    padding: var(--column-spacing);
    text-align: center;
}

.spinner {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: calc(var(--column-spacing) * 5) 0;
	overflow: visible;
	width: 100%;
}

.spinner::before {
	animation: spin 0.7s linear infinite;
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-bottom-color: rgba(145, 145, 145, 0.8);
	border-radius: 50%;
	content: '';
	display: block;
	height: 10vw;
	min-height: calc(var(--column-spacing) * 6);
	min-width: calc(var(--column-spacing) * 6);
	max-height: var(--column-spacing);
	max-width: var(--column-spacing);
	width: 10vw;
}
